 @*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Softmax.XCollections.Models.AccountViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<div class="row" style="padding-top:45px">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
        {
            if (ViewData["Message"] != null)
            {
                <p class="text-danger">Ensure you don't use "Password@1" as your new password</p>
                <p class="text-danger">Ensure your new password is greater than 7 characters</p>
                <p class="text-danger">Ensure your new password include special characters - "#, $, % ^ etc "</p>
                <p class="text-danger">Ensure your new password include capital letters - "A, B, C"</p>
                <p class="text-danger">Ensure your new password include numbers - "1, 2, 3"</p>
            }
            <div class="form-horizontal">

                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Enter Old Password" })
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NewPassword, new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", placeholder = "Enter New Password" })
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Enter Confirm Password" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="col-md-4">

    </div>



</div>