 @model Softmax.XCollections.Models.LoanModel
@{
    ViewBag.Title = "New Loan Request";
}


<div class="row" style="padding-top:45px">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm("Create", "Loans", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h2 class="text-danger">
                    @if (TempData["Error"] != null)
                    {
                        @TempData["Error"]
                    }

                </h2>
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.ProductId, new SelectList(ViewBag.products, "Value", "Text"), "--Select One--", new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                    </div>
                </div>

             

                <div class="form-group">
                    @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">

    
                        <select name="CustomerId" id="CustomerList" data-show-subtext="true" data-live-search="true" class="selectpicker form-control" required="required">
                            <option value="">Search Customer Account Number</option>
                            }
                            @foreach (var item in ViewBag.Customers)
                            {
                                <option  value="@item.Text">@item.Text</option>
                            }

                        </select>
                        @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", placeholder = "Enter Amount", type = "number" })
                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                        @Html.ActionLink("Cancel", "Index", null, null, new { @class = "btn btn-default" })
                    </div>
                </div>

            </div>
        }

    </div>
    <div class="col-md-4"></div>
</div>


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.js"></script>
<script>
    $('.selectpicker').selectpicker({
        //style: 'btn-info',
        size: 4
    });
</script>