 @model Softmax.XCollections.Models.ProductModel
<div class="row" style="padding-top:45px">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1 class="page-header">Delete - Product</h1>
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ProductCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductCode)
                </dd>
                
                <dt>
                    @Html.DisplayNameFor(model => model.Tenure)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tenure) (Weeks)
                </dd>
                
                <dt>
                    @Html.DisplayNameFor(model => model.Rate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Rate) (%)
                </dd>
                
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsActive)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

